DashBoard.Web/Service References/WSService/WSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gtja.quant.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gtja.quant.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gtja.quant.com">
      <s:element name="CanAccessDashboard">
        <s:complexType />
      </s:element>
      <s:element name="CanAccessDashboardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanAccessDashboardResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="callService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commCondJson" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="callServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="callServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CanAccessDashboardSoapIn">
    <wsdl:part name="parameters" element="tns:CanAccessDashboard" />
  </wsdl:message>
  <wsdl:message name="CanAccessDashboardSoapOut">
    <wsdl:part name="parameters" element="tns:CanAccessDashboardResponse" />
  </wsdl:message>
  <wsdl:message name="callServiceSoapIn">
    <wsdl:part name="parameters" element="tns:callService" />
  </wsdl:message>
  <wsdl:message name="callServiceSoapOut">
    <wsdl:part name="parameters" element="tns:callServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="WSServiceSoap">
    <wsdl:operation name="CanAccessDashboard">
      <wsdl:input message="tns:CanAccessDashboardSoapIn" />
      <wsdl:output message="tns:CanAccessDashboardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="callService">
      <wsdl:input message="tns:callServiceSoapIn" />
      <wsdl:output message="tns:callServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSServiceSoap" type="tns:WSServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CanAccessDashboard">
      <soap:operation soapAction="http://gtja.quant.com/CanAccessDashboard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="callService">
      <soap:operation soapAction="http://gtja.quant.com/callService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSServiceSoap12" type="tns:WSServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CanAccessDashboard">
      <soap12:operation soapAction="http://gtja.quant.com/CanAccessDashboard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="callService">
      <soap12:operation soapAction="http://gtja.quant.com/callService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSService">
    <wsdl:port name="WSServiceSoap" binding="tns:WSServiceSoap">
      <soap:address location="http://localhost/WSService.asmx" />
    </wsdl:port>
    <wsdl:port name="WSServiceSoap12" binding="tns:WSServiceSoap12">
      <soap12:address location="http://localhost/WSService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>