DashBoard.Web/Service References/SignService/SignService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CanAccessDashboard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanAccessDashboardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CanAccessDashboardResult" type="tns:ServiceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CanAccessDashboardSoapIn">
    <wsdl:part name="parameters" element="tns:CanAccessDashboard" />
  </wsdl:message>
  <wsdl:message name="CanAccessDashboardSoapOut">
    <wsdl:part name="parameters" element="tns:CanAccessDashboardResponse" />
  </wsdl:message>
  <wsdl:portType name="SignServiceSoap">
    <wsdl:operation name="CanAccessDashboard">
      <wsdl:input message="tns:CanAccessDashboardSoapIn" />
      <wsdl:output message="tns:CanAccessDashboardSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SignServiceSoap" type="tns:SignServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CanAccessDashboard">
      <soap:operation soapAction="http://tempuri.org/CanAccessDashboard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SignServiceSoap12" type="tns:SignServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CanAccessDashboard">
      <soap12:operation soapAction="http://tempuri.org/CanAccessDashboard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SignService">
    <wsdl:port name="SignServiceSoap" binding="tns:SignServiceSoap">
      <soap:address location="http://localhost/SignService.asmx" />
    </wsdl:port>
    <wsdl:port name="SignServiceSoap12" binding="tns:SignServiceSoap12">
      <soap12:address location="http://localhost/SignService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>